In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Import the data
lending_data = pd.read_csv(r'C:\Users\adna_\Desktop\bootcamp\supervised_learning\Resources\lending_data.csv')

In [111]:
# Split the data into X_train, X_test, y_train, y_test

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32815,8200.0,6.598,42700,0.297424,2,0,12700
59572,10500.0,7.591,52000,0.423077,4,1,22000
42325,7600.0,6.351,40400,0.257426,2,0,10400
39070,9700.0,7.254,48900,0.386503,4,0,18900
42524,11800.0,8.155,57300,0.476440,6,1,27300

In [109]:
# Train a Logistic Regression model print the model score

0.9908171687990095

In [110]:
# Train a Random Forest Classifier model and print the model score

0.9910751134956666