In [18]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

%matplotlib inline
import matplotlib.pyplot as plt

### My prediction

I think the RandomForest Classifier would perform better as it reduces the chances of overfitting due to the random datasets it creates.

### Import the data

In [2]:
# Import the data
lending_data = pd.read_csv(r'C:\Users\adna_\Desktop\bootcamp\supervised_learning\Resources\lending_data.csv')
lending_data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Create X and y variables

In [3]:
 # Assign the data to X and y - 'y' will be the target variable that we are trying to predict

X = lending_data[['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks', 'total_debt']]
y = lending_data['loan_status']

print("Shape=", X.shape, y.shape)

Shape:  (77536, 7) (77536,)

In [4]:
# Split the data into X_train, X_test, y_train, y_test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [5]:
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900
...,...,...,...,...,...,...,...
20609,7200.0,6.177,38700,0.224806,1,0,8700
21440,10000.0,7.389,50100,0.401198,4,1,20100
73349,10200.0,7.463,50800,0.409449,4,1,20800
50057,11100.0,7.838,54400,0.448529,5,1,24400
5192,10600.0,7.632,52400,0.427481,5,1,22400

In [49]:
X_test

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
60914,12600.0,8.469,60300,0.502488,6,1,30300
36843,9800.0,7.289,49200,0.390244,4,0,19200
1966,10900.0,7.770,53700,0.441341,5,1,23700
70137,10700.0,7.666,52700,0.430740,5,1,22700
27237,9900.0,7.353,49800,0.397590,4,0,19800
...,...,...,...,...,...,...,...
45639,9900.0,7.328,49600,0.395161,4,0,19600
11301,9900.0,7.317,49500,0.393939,4,0,19500
51614,8000.0,6.520,42000,0.285714,2,0,12000
4598,11500.0,8.001,55900,0.463327,5,1,25900
2793,9200.0,7.024,46700,0.357602,3,0,16700

# Logistic Regression Model

In [6]:
# Train the Logistic Regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [9]:
classifier.fit(X_train,y_train)

LogisticRegression()

### Predictions & Score

In [41]:
# make predictions using X_test
y_prediction = classifier.predict(X_test)
y_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
#Make predictions using X_train
training_pred = classifier.predict(X_train)
training_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [54]:
### Accuracy scores 
from sklearn import metrics
accuracy_score = metrics.accuracy_score(y_test, y_prediction)
accuracy_score2 = metrics.accuracy_score(y_train, training_pred)


print(f"Accuracy score (test): {accuracy_score}")
print(f"Accuracy score (training): {accuracy_score2}")

Accuracy score (test): 0.9918489475856377
Accuracy score (training): 0.9921240885954051

In [14]:
# Print the model scores
test_score = classifier.score(X_test,y_test)

In [12]:
training_score = classifier.score(X_train,y_train)

In [57]:
print(f"The score of the training data is: {training_score}")
print(f"The score of the test data is: {test_score}") # the model hasnt seen test before

The score of the training data is: 0.9921240885954051
The score of the test data is: 0.9918489475856377

In [69]:
print(f'Actual list:   {list(y_test[:20])}')
print(f'Predicted list:{list(classifier.predict(X_test[:20]))}')

Actual list:   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0]
Predicted list:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0]

# RandomForestClassifier

In [27]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import resample 
from sklearn.metrics import accuracy_score

In [36]:
#Train a RandomClassifier Model using 55 random trees
model = RandomForestClassifier(random_state=1, n_estimators=55).fit(X_train, y_train)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=55, random_state=1)

### Predictions & Score

In [44]:
#Make predictions for using X test
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [47]:
#Make predictions using X_train
training_pred2 = model.predict(X_train)
training_pred2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [55]:
### Testing accuracy score
accuracy_score3 = metrics.accuracy_score(y_test, y_pred)
accuracy_score4 = metrics.accuracy_score(y_train, training_pred2)


print(f"The score of the training data is: {accuracy_score3}")
print(f"The score of the test data is: {accuracy_score4}")

The score of the training data is: 0.9910235245563351
The score of the test data is: 0.9974893382858715

In [71]:
print(f'The RandomForest testing Score is  {model.score(X_test, y_test)}')
print(f'The RandomForest training Score is {model.score(X_train, y_train)}')

The RandomForest testing Score is  0.9910235245563351
The RandomForest training Score is 0.9974893382858715

In [68]:
print(f'Actual:   {list(y_test[:30])}')
print(f'Predicted:{list(model.predict(X_test[:30]))}')

Actual:   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
Predicted:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]